<!-- Login FormStart -->
<section class="section auth-section login-sec bg-cover" style="background-image: url('../../../assets/img/bg/3.jpg')">
    <div class="container">
      <form class="auth-form light-bg" method="post" style="background-image: url('../../../assets/img/bg/5.jpg')">
        <h1>Uloguj se</h1>
        <div class="form-group m-top-100">
          <mat-form-field>
            <input matInput 
                   placeholder="E-mail" 
                   value="">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <input matInput 
                   placeholder="Lozinka" 
                   type="password"
                   value="">
          </mat-form-field>
        </div>
        <div class="auth-controls form-group">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="rememberMe">
            <label class="custom-control-label fw-400" for="rememberMe">Remember Me</label>
          </div>
          <a href="#" class="btn-link fw-400">Zaboravljena lozinka?</a>
        </div>
        <div class="form-group">
          <button type="submit" class="btn-custom primary btn-block">Login</button>
        </div>
      </form>
    </div>
  </section>
  <!-- Login Form End -->
