.mat-focused .mat-form-field-label {
/*change color of label*/
color: black !important;
}

.mat-form-field-underline {
/*change color of underline*/
background-color: black !important;
} 

.mat-form-field-ripple {
/*change color of underline when focused*/
background-color: black !important;;
}

.mat-form-field{
    width: 100%;
}

/*margins*/
.m-top-100{
    margin-top: 100px;
}

.m-top-50{
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.m-left-5{
    margin-left: 5px;
}

.m-right-5{
    margin-right: 5px;
}

.radius-5{
    border-radius: 5px;
    height: 100%;
}

.radius-5 .auth-form{
    width: 100%;
}

.bg-cover .container {
    max-width: 95%;
    margin-top: 200px;
}

/* .bg-cover .container .mat-tab-group {
    width: 100%;
    border-radius: 5px;
    background: white;
} */

.bg-cover .container .mat-tab-group .mat-tab-body {
    height: 400px;
}

.mat-ink-bar{
    background-color: black !important;
}


/*change color of material table*/
.mat-table .mat-header-cell{
    background: white !important;
}

.container-p-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.auth-form {
    height: 100%;
}

.auth-form.reg {
    height: 770px;
}
.verybottom {
    bottom: 0px;
  }

  .mat-row .mat-cell {
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }
  
  .row-is-clicked {
    font-weight: bold;
  }

/*table columns search screen*/
  .mat-column-actions {
    width: 65px;
  }

  .mat-column-actions .btn-custom{
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-top: 5px;
  }

  .table-container {
    max-height: 250px;
    overflow: auto;
 }

 .table-container-order {
    max-height: 500px;
    overflow: auto;
 }

 .d-flex re-captcha{
    margin: 10px;
 }

 small{
     font-size: 80%;
     line-height: 0px;
 }

