
/****** Object:  StoredProcedure [dbo].[sp_save_fish]    Script Date: 12/4/2021 1:09:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_database_backup] 
(
	@path as varchar(1000),
	@msg varchar(8000) out
)
AS
BEGIN
	declare @Date as varchar(100)

	SET NOCOUNT ON;
	
begin try
	

	set @Date = cast(year(getdate()) as varchar) + '_' + SUBSTRING(CONVERT(nvarchar(6),getdate(), 112),5,2) + SUBSTRING(CONVERT(nvarchar(8),getdate(), 112),7,2) + '_' + SUBSTRING(CONVERT(nvarchar,getdate(), 108),1,2) + SUBSTRING(CONVERT(nvarchar,getdate(), 108),4,2) + SUBSTRING(CONVERT(nvarchar,getdate(), 108),7,2)

	set @msg = @path + '\TNT' + @Date + '.bak'

	BACKUP DATABASE TNT  
	TO DISK = @msg  
	   WITH FORMAT,  
		  MEDIANAME = 'TNT',  
		  NAME = 'Full Backup of TNT'; 
	return 0;
end try
	begin catch
		set @msg = 
				N'Error: [' + convert(varchar,error_number()) + '] Procedure: [' + error_procedure() + 
						'] Line: [' + convert(varchar,error_line()) + '] Message: [' + error_message() + ']';
		return -99;
	end catch;
END
