<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TNT.Conn" connectionString="Server=.\DEV;Database=TNT;User ID=sa;Password=iacp" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ErrorPath" value="C:\Projects\TNT\Error" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls" culture="neutral" publicKeyToken="5803cfa389c90ce7" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2016.3.1024.45" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls.Input" culture="neutral" publicKeyToken="5803cfa389c90ce7" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2016.3.1024.45" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls.Navigation" culture="neutral" publicKeyToken="5803cfa389c90ce7" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2016.3.1024.45" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Data" culture="neutral" publicKeyToken="5803cfa389c90ce7" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2016.3.1024.45" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>