

<!-- Banner Start -->
<div class="banner banner-video dark-overlay">
  <video autoplay muted loop id="myVideo">
    <source src="../../../assets/vids/video-banner.mp4" type="video/mp4">
  </video>
   
  <div class="container">
    <div class="banner-slider">
      <div class="banner-item text-center">
        <div class="banner-inner">
          <h1 class="title text-white"> Sveža <span class="custom-primary"> Riba </span> Svakog Dana </h1>
          <p class="subtitle text-white">Šaran, Pastrmka, Oslić, Riblji Štapići, Som, Skuša, Klen, Mrena, Štuka, Smuđ, Skobalj, Amur, Kečiga</p>
          <p class="subtitle text-white"><span class="custom-primary">Sveža, Pržena, Dimljena, Na roštilju, Pohovana sve pripreme radimo</span></p>
          <a href="#" class="btn-custom primary shadow-none">Kontakt<i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner End -->

  <!-- Categories Section Start -->
  <div class="section section-padding ct-categories ct-categories-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a href="#" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-fish"></i>
              <h5>Cod and Asparagus Bake</h5>
              <span>17 Recipes</span>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a href="#" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-shellfish"></i>
              <h5>Shellfish</h5>
              <span>87 Recipes</span>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a href="#" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-caviar"></i>
              <h5>Caviar</h5>
              <span>36 Recipes</span>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a href="#" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-fish-1"></i>
              <h5>Freshwater fish</h5>
              <span>42 Recipes</span>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a href="#" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-shrimp"></i>
              <h5>Scomber</h5>
              <span>55 Recipes</span>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a href="#" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-lobster"></i>
              <h5>Lobster</h5>
              <span>45 Recipes</span>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a href="#" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-octopus"></i>
              <h5>Octopus</h5>
              <span>13 Recipes</span>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a href="#" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-salmon"></i>
              <h5>Salmon</h5>
              <span>21 Recipes</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Categories Section End -->

  <!-- why choose us Start -->
  <section class="section why-us-sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="section-title-wrap">
            <span class="secondary-title">
            Why Choose Us
            </span>
            <h2 class="title">A Few Points  <span class="custom-primary">Why You </span> Should Choose Us  </h2>
            <p class="subtitle">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            </p>
            <p class="subtitle">
              <b>25 years of Experience</b>
            </p>
            <p class="subtitle">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
            <a href="contact-us.html" class="btn-custom primary"> Explore more <i class="fas fa-arrow-right"></i> </a>
          </div>
        </div>
        <div class="offset-lg-1 col-lg-6">
          <div class="why-us-image">
            <img src="assets/img/why-us.png" alt="img">
            <div class="icon icon-1">
              <div class="icon-box">
                <i class="flaticon-target"></i>
                <h3>2000+</h3>
                <h4>Happy Clients</h4>
              </div>
            </div>
            <div class="icon icon-2">
              <div class="icon-box">
                <i class="flaticon-medal"></i>
                <h3>500+</h3>
                <h4>Awards Won</h4>
              </div>
            </div>
            <div class="icon icon-3">
              <div class="icon-box">
                <i class="flaticon-lobster"></i>
                <h3>1500+</h3>
                <h4>Seafood Varities</h4>
              </div>
            </div>
          </div>
  
      </div>
      </div>
    </div>
  </section>
  <!-- why choose us End -->

  
    <!-- Video Style 4 Start -->
    <section class="section pt-0">
      <div class="container">
        <div class="section-title-wrap section-header text-center">
          <h2 class="title">Experience Us Live </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="video-style-4 bg-cover bg-center"  style="background-image:url('assets/img/video.jpg')">
              <div class="video-wrapper">
                <div class="video-content">
                  <h3 class="text-white">Watch Our Video to Know Us More </h3>
                  <a href="#" class="video-btn">Read more</a>
                </div>
                <div class="video-player-trigger">
                  <a href="https://www.youtube.com/watch?v=TKnufs85hXk" class="popup-youtube">
                  <i class="fas fa-play"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Video Style 4 End -->

  <!-- Blog Posts Start -->
  <section class="section pt-0 section-padding posts">
    <div class="container">
      <div class="section-title-wrap section-header">
        <h2 class="title">Trending Recipes </h2>
        <p class="subtitle">
          The new seafood market leader and strategy !
        </p>
      </div>

      <div class="row">
        <div class="col-lg-8">

          <div class="row">

            <!-- Post Start -->
            <div class="col-lg-12">
              <article class="post post-2">
                <div class="post-thumbnail">
                  <a href="blog-single-v1.html"> <img src="assets/img/blog/1.jpg" alt="blog post"> </a>
                </div>
                <div class="post-body">
                  <div class="post-categories">
                    <a href="#">Cod and Asparagus Bake</a>
                  </div>
                  <h5 class="post-title"> <a href="blog-single-v1.html">Premium quality and impeccable taste !</a> </h5>
                  <p class="post-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled
                  </p>
                  <div class="post-meta">
                    <span> <i class="far fa-calendar"></i> September 22, 2021</span>
                    <span> <i class="far fa-user"></i> Posted by Jonathan Pick</span>
                  </div>
                </div>
              </article>
            </div>
            <!-- Post End -->

            <!-- Post Start -->
            <div class="col-lg-12">
              <article class="post post-2">
                <div class="post-thumbnail">
                  <a href="blog-single-v1.html"><img src="assets/img/blog/4.jpg" alt="blog post"></a>
                </div>
                <div class="post-body">
                  <div class="post-categories">
                    <a href="#">Lunch</a>
                  </div>
                  <h5 class="post-title"> <a href="blog-single-v1.html">Freshwater fish</a> </h5>
                  <p class="post-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled
                  </p>
                  <div class="post-meta">
                    <span><i class="far fa-calendar"></i> September 24, 2021</span>
                    <span><i class="far fa-user"></i> Posted by Jonathan Pick</span>
                  </div>
                </div>
              </article>
            </div>
            <!-- Post End -->

            <!-- Post Start -->
            <div class="col-lg-12">
              <article class="post post-2 post-format-video">
                <div class="post-thumbnail">
                  <a href="blog-single-v1.html"><img src="assets/img/blog/3.jpg" alt="blog post"></a>
                  <div class="video-player-trigger">
                    <a href="https://www.youtube.com/watch?v=TKnufs85hXk" class="popup-youtube">
                      <i class="fas fa-play"></i>
                      <div class="video-player-icons">
                    <i class="flaticon-fish"></i>
                    <i class="flaticon-lobster"></i>
                    <i class="flaticon-octopus"></i>
                    <i class="flaticon-fish-1"></i>
                    <i class="flaticon-shrimp"></i>
                  </div>
                    </a>
                  </div>
                </div>
                <div class="post-body">
                  <div class="post-categories">
                    <a href="#">Cod and Asparagus Bake</a>
                  </div>
                  <h5 class="post-title"> <a href="blog-single-v1.html">Strong sales of lionfish are phenomenal !</a> </h5>
                  <p class="post-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled
                  </p>
                  <div class="post-meta">
                    <span><i class="far fa-calendar"></i> September 26, 2021</span>
                    <span> <i class="far fa-user"></i> Posted by Jonathan Pick</span>
                  </div>
                </div>
              </article>
            </div>
            <!-- Post End -->

          </div>

        </div>
        <div class="col-lg-4">
          <div class="sidebar">

            <div class="sidebar-widget">
              <h5>Recent Posts</h5>
              <article class="media">
                <a href="blog-single-v1.html"><img src="assets/img/blog/10.jpg" alt="post"></a>
                <div class="media-body">
                  <h6> <a href="blog-single-v1.html">Cod and Asparagus Bake</a> </h6>
                  <p>September 22, 2021</p>
                </div>
              </article>
              <article class="media">
                <a href="blog-single-v1.html"><img src="assets/img/blog/4.jpg" alt="post"></a>
                <div class="media-body">
                  <h6> <a href="blog-single-v1.html">Freshwater fish</a> </h6>
                  <p>September 24, 2021</p>
                </div>
              </article>
              <article class="media">
                <a href="blog-single-v1.html"><img src="assets/img/blog/7.jpg" alt="post"></a>
                <div class="media-body">
                  <h6> <a href="blog-single-v1.html">Caviar</a> </h6>
                  <p>September 26, 2021</p>
                </div>
              </article>
              <article class="media">
                <a href="blog-single-v1.html"><img src="assets/img/blog/5.jpg" alt="post"></a>
                <div class="media-body">
                  <h6> <a href="blog-single-v1.html">Blackened Catfish with Mango Avocado Salsa</a> </h6>
                  <p>September 28, 2021</p>
                </div>
              </article>
            </div>
            <div class="sidebar-widget">
              <h5>Featured Recipes</h5>

              <div class="recipe featured-recipe">
                <div class="recipe-thumbnail">
                  <a href="recipe-details.html">
                    <img src="assets/img/blog/7.jpg" alt="blog post">
                  </a>
                </div>
                <div class="recipe-body">
                  <h6 class="recipe-title"> <a href="recipe-details.html">Cockle mollusc</a> </h6>
                  <div class="recipe-meta">
                    <div class="recipe-difficulty">
                      <div class="recipe-difficulty-inner">
                        <span class="active"></span>
                        <span class="active"></span>
                        <span></span>
                      </div>
                      <span>Home Cook</span>
                    </div>
                    <div class="recipe-steps">
                      <span><i class="fas fa-concierge-bell"></i> 24 items</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="recipe featured-recipe">
                <div class="recipe-thumbnail">
                  <a href="recipe-details.html">
                    <img src="assets/img/blog/11.jpg" alt="blog post">
                  </a>
                </div>
                <div class="recipe-body">
                  <h6 class="recipe-title"> <a href="recipe-details.html">Pan-Seared Salmon with Dill Sauce</a> </h6>
                  <div class="recipe-meta">
                    <div class="recipe-difficulty">
                      <div class="recipe-difficulty-inner">
                        <span class="active"></span>
                        <span></span>
                        <span></span>
                      </div>
                      <span>Amateur</span>
                    </div>
                    <div class="recipe-steps">
                      <span><i class="fas fa-concierge-bell"></i> 13 Items</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- Blog Posts End -->

  <!-- Products Start -->
  <section class="section dark-overlay dark-overlay-2 bg-parallax bg-center" style="background-image: url('assets/img/bg/4.jpg')">
    <div class="container">
      <div class="section-title-wrap text-center">
        <h2 class="text-white title">Cook Book With a Thousand Recipes</h2>
        <p class="text-white subtitle">
          Get my cook book today and learn a thousand recipes for only 49.99$.
        </p>
        <a href="shop.html" class="btn-custom primary">Go to Store <i class="fas fa-arrow-right"></i> </a>
      </div>

    </div>
  </section>
  <!-- Products End -->

  <!-- Testimonials Start -->
    <section class="section testimonial-style-2 style-3 bg-cover" style="background-image:url('assets/img/bg/2.jpg')">
      <div class="container">
        <div class="section-title-wrap section-header text-center">
          <h2 class="title">What Peoples Say</h2>
        </div>
        <div class="ct-testimonials">
          <div class="ct-testimonials-slider-2">
            <div class="ct-testimonial-item">
              <div class="ct-testimonial-item-inner">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                </p>
                <div class="testi-box d-flex align-items-center">
                  <div class="testi-image">
                    <img src="assets/img/people/people-1.jpg" alt="img">
                  </div>
                  <div class="author-descr">
                    <span>Johny White</span>
                    <p>Manager</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="ct-testimonial-item">
              <div class="ct-testimonial-item-inner">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                </p>
                <div class="testi-box d-flex align-items-center">
                  <div class="testi-image">
                    <img src="assets/img/people/people-2.jpg" alt="img">
                  </div>
                  <div class="author-descr">
                    <span>Jessica Fritz</span>
                    <p>Manager</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="ct-testimonial-item">
              <div class="ct-testimonial-item-inner">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                </p>
                <div class="testi-box d-flex align-items-center">
                  <div class="testi-image">
                    <img src="assets/img/people/people-1.jpg" alt="img">
                  </div>
                  <div class="author-descr">
                    <span>Johny White</span>
                    <p>Manager</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="ct-testimonial-item">
              <div class="ct-testimonial-item-inner">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                </p>
                <div class="testi-box d-flex align-items-center">
                  <div class="testi-image">
                    <img src="assets/img/people/people-2.jpg" alt="img">
                  </div>
                  <div class="author-descr">
                    <span>Jessica Fritz</span>
                    <p>Manager</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="ct-testimonial-item">
              <div class="ct-testimonial-item-inner">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                </p>
                <div class="testi-box d-flex align-items-center">
                  <div class="testi-image">
                    <img src="assets/img/people/people-1.jpg" alt="img">
                  </div>
                  <div class="author-descr">
                    <span>Johny White</span>
                    <p>Manager</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Testimonials End -->

  <!-- Recipes Start -->
  <section class="section section-padding">
    <div class="container">
      <div class="section-title-wrap section-header">
        <h2 class="title">Most Demanded Recipes</h2>
        <p class="subtitle">
          Want to see the what new recipes we are working on? Check out what the people have to say about them
        </p>
      </div>

      <div class="recipe recipe-list">
        <div class="recipe-thumbnail">
          <a href="recipe-details.html">
            <img src="assets/img/blog/10.jpg" alt="blog post">
          </a>
        </div>
        <div class="recipe-body">
          <h5 class="recipe-title"> <a href="recipe-details.html">Cod and Asparagus Bake</a> </h5>
          <p class="recipe-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
          <div class="recipe-meta">
            <div class="recipe-difficulty">
              <div class="recipe-difficulty-inner">
                <span class="active"></span>
                <span></span>
                <span></span>
              </div>
              <span>Amateur</span>
            </div>
            <div class="recipe-steps">
              <span><i class="fas fa-concierge-bell"></i> 24 items</span>
            </div>
            <div class="recipe-duration">
              <span><i class="fas fa-stopwatch"></i> 40 mins</span>
            </div>
          </div>
        </div>
      </div>

      <div class="recipe recipe-list">
        <div class="recipe-thumbnail">
          <a href="recipe-details.html">
            <img src="assets/img/blog/11.jpg" alt="blog post">
          </a>
        </div>
        <div class="recipe-body">
          <h5 class="recipe-title"> <a href="recipe-details.html">Pan-Seared Salmon with Dill Sauce </a> </h5>
          <p class="recipe-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
          <div class="recipe-meta">
            <div class="recipe-difficulty">
              <div class="recipe-difficulty-inner">
                <span class="active"></span>
                <span class="active"></span>
                <span class="active"></span>
              </div>
              <span>Chef</span>
            </div>
            <div class="recipe-steps">
              <span><i class="fas fa-concierge-bell"></i> 66 Steps</span>
            </div>
            <div class="recipe-duration">
              <span><i class="fas fa-stopwatch"></i> 120 mins</span>
            </div>
          </div>
        </div>
      </div>

      <div class="recipe recipe-list">
        <div class="recipe-thumbnail">
          <a href="recipe-details.html">
            <img src="assets/img/blog/9.jpg" alt="blog post">
          </a>
        </div>
        <div class="recipe-body">
          <h5 class="recipe-title"> <a href="recipe-details.html">Blackened Catfish with Mango Avocado Salsa </a> </h5>
          <p class="recipe-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
          <div class="recipe-meta">
            <div class="recipe-difficulty">
              <div class="recipe-difficulty-inner">
                <span class="active"></span>
                <span class="active"></span>
                <span></span>
              </div>
              <span>Home Cook</span>
            </div>
            <div class="recipe-steps">
              <span><i class="fas fa-concierge-bell"></i> 42 Steps</span>
            </div>
            <div class="recipe-duration">
              <span><i class="fas fa-stopwatch"></i> 50 mins</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- Recipes End -->

  <!-- Newsletter start -->
  <section class="section light-bg bg-cover" style="background-image:url('assets/img/bg/1.jpg')">
    <div class="container">
      <div class="section-title-wrap section-header text-center">
        <h2 class="title">Subscribe to Our Mailinglist</h2>
        <p class="subtitle">
          Get access to my latest recipes by joining the weekly newsletter
        </p>
      </div>

      <form class="ct-newsletter" method="post">
        <input type="email" class="form-control" placeholder="Enter your email address" value="">
        <button type="submit" class="btn-custom primary" name="button"> Submit <i class="far fa-paper-plane"></i> </button>
      </form>

    </div>
  </section>
  <!-- Newsletter End -->

  <!-- Instagram Start -->
  <div class="row no-gutters">
    <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
      <a href="#" class="ct-ig-item">
        <img src="assets/img/ig/1.jpg" alt="ig">
      </a>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
      <a href="#" class="ct-ig-item">
        <img src="assets/img/ig/2.jpg" alt="ig">
      </a>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
      <a href="#" class="ct-ig-item">
        <img src="assets/img/ig/3.jpg" alt="ig">
      </a>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
      <a href="#" class="ct-ig-item">
        <img src="assets/img/ig/4.jpg" alt="ig">
      </a>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
      <a href="#" class="ct-ig-item">
        <img src="assets/img/ig/5.jpg" alt="ig">
      </a>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
      <a href="#" class="ct-ig-item">
        <img src="assets/img/ig/6.jpg" alt="ig">
      </a>
    </div>
  </div>
  <!-- Instagram End -->